/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
    Cinza Esverdeado: #F7FDF3
    Verde: #8EDE65
    Azul: #1D1D29
    Azul escuro texto: #1D1D29
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;750;800;900&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO GERAL / SEM CLASSE / SEM IDENTIFICADOR */

* {
	padding: 0;
	margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body { /*Desabilitando o scroll no eixo X na TAG HTML, para facilitar a compatibilidade com os navegadores*/
    overflow-x: hidden;
}

h1 { /*Especificações para títulos H1 */
    font-size: 2.5vw;
    font-weight:700;
 }

 /*NOVA DEFINIÇÃO NECESSÁRIA PARA ABERTURA DE MENUS POP-UP / TRAVAMENTO DO OVERFLOW */

body, html {
    height: 100%;
}
#wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#hd1 {
    overflow-x: hidden;
    overflow-y: auto;
}

/*FIM TRAVAMENTO DO OVERFLOW*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO POR IDENTIFICADOR */
body, #hd1 { /*Especificações para o corpo da página*/
    /*background-color: #1D1D29;*/
    background-image: url(img/hd3.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: fixed;
}
/*<--FimBody*/

#header { /*Especificações para o cabeçalho da página*/
    padding-top: 6vh;
}

 #navBar{  /******************************************************************/
    /* background-color: black; */
     display: none;
 }

 #news { /*Área principal do site com informação e botão lateral*/
    /*background-color: yellow;*/
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 3vw;
    text-align: left;
    padding-left: 3vw;
    width: 80%;
    margin-bottom: 2vw;
}

.LinhaDeTitulo { /*Linha decorativa (ultilizada em cima ou na lateral de títulos)*/
    width: 9vw;
    height: 0.7vw;
    margin-top: 0;
    margin-bottom: 3vw;
}

#news .LinhaDeTitulo { /*Linha decorativa na área de news*/
    background-color: #8EDE65;
}

#news p { /*Texto da área news*/ /*********************************************/
    font-size: 8vw;
    color: #F7FDF3;
    font-weight:750;
   
}

#btnPrincipal { /****************************************** */
    background-color: #8EDE65;
    height: 6vw;
    width: 43vw;
    border: none;
    border-radius:30px;
    font-size: 2vw;
    color: #F7FDF3;
    font-weight: 600;
    margin-top: 3vw;
   
}

#btnPrincipal:hover { /* Ações ao passar o mouse em cima do botão principal */
    cursor:pointer;
    font-weight: 700;
    height: 4.1vw;
    width: 25.1vw;
    background-color: #F7FDF3;
    color: #8EDE65;
}

#pathCorpo { /*Modificação em um hexágono que atua como "body" e faz o fromato do meio do site completo ********************/
    position: relative;
    width: 100%;
    background-color: #F7FDF3;
}

/*<-- FimHeader*/