/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
    Cinza Esverdeado: #F7FDF3
    Verde: #8EDE65
    Azul: #1D1D29
    Azul escuro texto: #1D1D29

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;750;800;900&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* ANIMAÇÕES */

/*Sessão de definição de Fade In (Animação para surgir os textos da página)*/

@-webkit-keyframes fadeIn { /*Função de animação fade In*/
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn1 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
    }

    .fadeIn2 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
            -webkit-animation: fadeIn 5s ease-in-out;
            -moz-animation: fadeIn 5s ease-in-out;
            -o-animation: fadeIn 5s ease-in-out;
            animation: fadeIn 5s ease-in-out;
    }

    .fadeIn3 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 6s ease-in-out;
        -moz-animation: fadeIn 6s ease-in-out;
        -o-animation: fadeIn 6s ease-in-out;
        animation: fadeIn 6s ease-in-out;
    }

    .fadeIn4 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 7s ease-in-out;
        -moz-animation: fadeIn 7s ease-in-out;
        -o-animation: fadeIn 7s ease-in-out;
        animation: fadeIn 7s ease-in-out;
    }

/* <-- Fim FadeIn*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO GERAL / SEM CLASSE / SEM IDENTIFICADOR */

* {
	padding: 0;
	margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body { /*Desabilitando o scroll no eixo X na TAG HTML, para facilitar a compatibilidade com os navegadores*/
    overflow-x: hidden;
}

h1 { /*Especificações para títulos H1 */
    font-size: 2.5vw;
    font-weight:700;
 }

 /*NOVA DEFINIÇÃO NECESSÁRIA PARA ABERTURA DE MENUS POP-UP / TRAVAMENTO DO OVERFLOW */

body, html {
    height: 100%;
}
.wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#hd1 {
    overflow-x: hidden;
    overflow-y: auto;
}

/*FIM TRAVAMENTO DO OVERFLOW*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO POR IDENTIFICADOR */

/*--> Body*/

body { /*Especificações para o corpo da página*/
    background-image: url(img/hd3.png);
    background-size: 100%;
    background-repeat: no-repeat;       
}
/*<--FimBody*/

 /*--> Header */

 #header { /*Especificações para o cabeçalho da página*/
    padding-top: 6vh;
}

 #navBar{ /*Barra onde ficam icones sociais e opções de navegação*/
    /* background-color: black; */
     display: flex;
     font-weight: 500;
     margin-left: 8vw;
     margin-right: 8vw;
     margin-top: 3vw;
 }
 
 #opcoesNavBar { /*Barra onde ficam as opções de navegação*/
     /* background-color: grey; */
     width: 55%;
     text-align: left;
     display: flex;
     justify-content: space-around;
 }
 
.OpcaoNavBar { /*Opçoes de navegação*/
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.3vw;
}

#corrente {
    font-weight: 700;
}
 
.OpcaoNavBar:hover{ /*Ações ao passar o mouse em uma opção de navegação*/
    font-weight:bold;
    color: #8EDE65;
}
 
#iconesNavBar { /*Barra onde ficam os ícones sociais*/
     /* background-color: green; */
     width: 45%;
     text-align: right;
    
 }
 
.IconeNavBar { /* Icones de navegação */
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.7vw;
}
 
.IconeNavBar:hover { /*Ações ao passar o mouse em um ícone da barra de navegação*/
    color: #8EDE65;
    font-weight:900;
}

#news { /*Área principal do site com informação e botão lateral*/
    /*background-color: yellow;*/
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 3vw;
    text-align: center;
    padding-left: 3vw;
    width: 80%;
    margin-bottom: 2vw;
}

.LinhaDeTitulo { /*Linha decorativa (ultilizada em cima ou na lateral de títulos)*/
    width: 9vw;
    height: 0.7vw;
    margin-top: 0;
    margin-bottom: 3vw;
    margin-left: 44%;
}

#news .LinhaDeTitulo { /*Linha decorativa na área de news*/
    background-color: #8EDE65;
}

#news p { /*Titulo da área news*/
    font-size: 3.5vw;
    color: #F7FDF3;
    font-weight:750;
    margin-bottom: 2vw;  
}

span { /*texto abaixo do título news (apresetando equipe)*/
    font-size: 1.2vw;
    font-weight: 700;
    color: #F7FDF3;
}

#textNews { /*Linha do texto abaixo do t. news*/
    /*background-color: green;*/
    width: 77%;
    margin-left: 9%;
    margin-bottom: 3vw;
    line-height: 2.4vw;
    word-spacing: 0.5vw;
    text-align: center;
}

.IconeRoll { /*Setas para baixo "roll"*/
    font-size: 3vw;
    margin-left: calc(50% - 2vw);
    color: #8EDE65;
    opacity: 1;
    animation: anima 1500ms ease infinite;
}

.IconeRoll:hover{ /*Ação ao passar o mouse nas setas*/
    cursor: pointer;
}

@keyframes anima { /*Animação para setas roll*/
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}
/*<-- FimHeader*/

/*--> Hexágono construído com clip-path para gerar o shape divider do layout */

#pathCorpo { /*Modificação em um hexágono que atua como "body" e faz o fromato do meio do site completo*/
    position: absolute;
    width: 100%;
    height: 100vw;
     background-color: #F7FDF3; 
	clip-path: polygon(24% 3%, 75% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/*<-- FimHexágono*/

/*<-- Primeira sessão de informações (gestores) */

#primeiraSessãoDeInfo{ /* Primeira sessão de informaçãos dos gestores */
    /* background-color: grey; */
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: 50%;
     width: 100%;    
     margin-top: 6vw; 
     height: 27vw;
     padding-top: 4vw;
 }

 .TitulosPath { /* Linha de título da sessão*/
    /* background-color: aqua;   */
    width: 80%;
    font-size: 2.5vw;
    font-weight:700;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.1vw;
    color: #1D1D29;
 }

.FotoGestor { /*DIV para guardar as fotos dos gestores*/
    /* background-color: yellow; */
    height: 20vw;
    width: 25%;
    position: absolute;
    margin-left: 10%;
    margin-top: 5vw;
    background-size: 100%;
    background-repeat: no-repeat; 
    clip-path: circle(50% at 50% 50%);
}

/*fotos dos gestores*/
#g1{ background-image: url(img/gestor11.png); }
#g2{ background-image: url(img/gestor22.png); margin-left: 67%;} /*margin para colocar a foto em outra posição*/
#g3{ background-image: url(img/gestor33.png); }

.Gestor { /*div funo gestor*/
    background-color: rgb(238, 238, 238); 
    height: 20vw;
    margin-left: 25%;
    margin-top: 5vw;
 }

 #gestorMeio { /*div funo gestor do meio*/
    background-color: rgb(238, 238, 238); 
    height: 20vw;
    margin-right: 25%;
    margin-top: 5vw;
}

#gestorMeio .NomeGestor { /*alinhando nome do gestor do meio a direita*/
    text-align: right;
}

#gestorMeio p { /*alinhando texto do gestor do meio a direita*/
    text-align: right;
}

 .SobreGestor { /*contem todas as informações textuais ao lado da foto do gestor*/
    /* background-color: brown; */
    margin-left: 15%;
    margin-right: 13%;
    padding-top: 8.5%;
 }

 .SobreGestor p { /*texto sobre gestor*/
    color: #1D1D29;
    font-size: 1.2vw;
 }

 .NomeGestor { /*nome gestor*/
    color:#1D1D29;
    font-weight: 700;
    font-size: 1.4vw;
 }

