/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
    Cinza Esverdeado: #F7FDF3
    Verde: #8EDE65
    Azul: #1D1D29
    Azul escuro texto: #1D1D29

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;750;800;900&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */  
/*commit de save*/

/* ANIMAÇÕES */

/*Sessão de definição de Fade In (Animação para surgir os textos da página)*/

@-webkit-keyframes fadeIn { /*Função de animação fade In*/
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn1 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
    }

    .fadeIn2 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
            -webkit-animation: fadeIn 5s ease-in-out;
            -moz-animation: fadeIn 5s ease-in-out;
            -o-animation: fadeIn 5s ease-in-out;
            animation: fadeIn 5s ease-in-out;
    }

    .fadeIn3 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 6s ease-in-out;
        -moz-animation: fadeIn 6s ease-in-out;
        -o-animation: fadeIn 6s ease-in-out;
        animation: fadeIn 6s ease-in-out;
    }

    .fadeIn4 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 7s ease-in-out;
        -moz-animation: fadeIn 7s ease-in-out;
        -o-animation: fadeIn 7s ease-in-out;
        animation: fadeIn 7s ease-in-out;
    }

/* <-- Fim FadeIn*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO GERAL / SEM CLASSE / SEM IDENTIFICADOR */

* {
	padding: 0;
	margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body { /*Desabilitando o scroll no eixo X na TAG HTML, para facilitar a compatibilidade com os navegadores*/
    overflow-x: hidden;
}

h1 { /*Especificações para títulos H1 */
    font-size: 2.5vw;
    font-weight:700;
 }

 /*NOVA DEFINIÇÃO NECESSÁRIA PARA ABERTURA DE MENUS POP-UP / TRAVAMENTO DO OVERFLOW */

body, html {
    height: 100%;
}
.wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#hd1 {
    overflow-x: hidden;
    overflow-y: auto;
}

/*FIM TRAVAMENTO DO OVERFLOW*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO POR IDENTIFICADOR */

/*--> Body*/

body { /*Especificações para o corpo da página*/
    background-image: url(img/orca1.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-color: #F7FDF3;      
}
/*<--FimBody*/

 /*--> Header */

 #header { /*Especificações para o cabeçalho da página*/
    padding-top: 6vh;
    margin-bottom: 0;
}

#navBarMobileOp{ /*Ocultando a opção de menu navBar mobile na versão desktop*/
    display: none;
}

 .navBar{ /*Barra onde ficam icones sociais e opções de navegação*/
 
     /* background-color: #000;   */
     display: flex;
     font-weight: 600;
     padding-top: 2.5vw;
     padding-bottom: 3.5vw;
     height: 6vw;
     /* position: fixed; */
     margin-left: 15%;
     top:0;
     left:0;
     z-index:8;
     display:flex;
     width:70%;
     color: #000;
     /* background: transparent; */
     transition: 0.5s;
     /* padding: 0;
	margin: 0; */
     
 }

 /*
 /*QUANDO DER O SCROLL ADICIONA A CLASSE
.sticky{
    background: #e6e9e4;
    transition: 0.5s;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #1D1D29;

  }*/

 .OpcoesNavBar { /*Barra onde ficam as opções de navegação*/
     /* background-color: grey;  */
     width: 32%;
     height: 4vw;
     text-align: left;
     display: flex;
     justify-content: space-around;
     margin-top: 0.5vw;
     padding-top: 2vw;
 }


#logoNavBar{
    width: 36%;
    height: 6vw;
    background-image: url(img/logoNav.png);
     /* background-color: #F7FDF3;    */
    background-repeat: no-repeat;
    background-position: 50%; 
    background-size: 82%;
}

#logoNavBar:hover{
    background-size: 83%;
}
 
.OpcaoNavBar { /*Opçoes de navegação*/
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.3vw;
}

#corrente {
    font-weight: 800;
}
 
.OpcaoNavBar:hover{ /*Ações ao passar o mouse em uma opção de navegação*/
    font-weight:bold;
    color: #8EDE65;
}
 
#iconesNavBar { /*Barra onde ficam os ícones sociais*/
     /* background-color: green; */
     width: 45%;
     text-align: right;
    
 }
 
.IconeNavBar { /* Icones de navegação */
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.7vw;
}
 
.IconeNavBar:hover { /*Ações ao passar o mouse em um ícone da barra de navegação*/
    color: #8EDE65;
    font-weight:900;
}

#news { /*Área principal do site com informação e botão lateral*/
     /* background-color: yellow; */
     margin-left: 8vw;
     margin-right: 8vw;
     /* margin-top: 1vw; */
     text-align: left;
     padding-left: 3vw;
     width: 50%;
       
      height: 100%;
    
}

.LinhaDeTitulo { /*Linha decorativa (ultilizada em cima ou na lateral de títulos)*/
    width: 9vw;
    height: 0.7vw;
    margin-top: 0;
    margin-bottom: 3vw;
}

#news .LinhaDeTitulo { /*Linha decorativa na área de news*/
    background-color: #8EDE65;
}

#news p { /*Titulo da área news*/
    font-size: 3.5vw;
    color: #F7FDF3;
    font-weight:750;
    margin-bottom: 2vw;  
}

span { /*texto abaixo do título news (apresetando equipe)*/
    font-size: 1.2vw;
    font-weight: 700;
    color: #F7FDF3;
}

#textNews { /*Linha do texto abaixo do t. news*/
    /*background-color: green;*/
    width: 85%;
    margin-bottom: 4vw;
    text-align: justify;
    line-height: 2.4vw;
    word-spacing: 0.5vw;
}

.IconeRoll { /*Setas para baixo "roll"*/
    font-size: 3vw;
    margin-left: calc(50% - 2vw);
    color: #8EDE65;
    opacity: 1;
    animation: anima 1500ms ease infinite;
}

.IconeRoll:hover{ /*Ação ao passar o mouse nas setas*/
    cursor: pointer;
}

@keyframes anima { /*Animação para setas roll*/
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}
/*<-- FimHeader*/

/*--> Hexágono construído com clip-path para gerar o shape divider do layout */

#pathCorpo { /*Modificação em um hexágono que atua como "body" e faz o fromato do meio do site completo*/
    position: absolute;
    width: 100%;
    height: 123vw;
    /* max-height: 100vw; */
    background-color: #F7FDF3;
	clip-path: polygon(21% 2.3%, 75% 2.3%, 100% 0.5%, 100% 100%, 0 100%, 0 0.5%);
}

/*<-- FimHexágono*/

/** <-- Primeira sessão (icones e formulário) */

#primeiraSessãoDeInfo { /*primeira sessão para guardar icones e formulários*/
    margin-left: 10%;
    margin-right: 10%;
}

#areaDeIcones { /*div para conter icones e informacoes sobre contato*/
    /* background-color: aquamarine; */
    width: 100%;
    height: 7vw;
    margin-top: 12vw;
    display: flex;
    justify-content: space-between;
}

.IconeArea { /*div do icone*/
    /* background-color: blueviolet; */
    height: 100%;
    width: 30%;
    text-align: center;
}

.IconeArea div {
    font-size: 2vw;
    color: #2c3e50;
    height: 2.8vw;
    /* background-color: blueviolet; */
}

#zap {
    font-size: 2.5vw;
    color: #2c3e50;
}

#meio {
    border-left: solid 1px #2c3e50;
    border-right: solid 1px #2c3e50;
}

.IconeArea p {
    font-size: 1.1vw;
    color: #2c3e50;
}

#formOrcamentos{ /*div geral para conter o formulário, sua localização e imagem de fundo*/
     background-image: url(img/newfotoform.png); 
    /* background-color: rgb(238, 238, 238); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    height: 45vw;
    margin-top: 6vw;
}

#caixaForm {
    /* background-color: green; */
    width: 37%;
    height: 92%;
    margin-left: 10%;  
    padding-top: 3%;  
    font-size: 1vw;
}

#caixaForm h1 {
    color: #F7FDF3;
    font-size: 2.3vw;
    text-align: center;
    margin-bottom: 2.5vw;
}

.InputForm {
    width: 94%;
    padding: 3%;
    border: none;
}

#caixaForm h2 {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-size: 1vw;
    color: #F7FDF3;
}

#caixaForm button {
    background-color: #8EDE65;
    border: none;
    padding: 4%;
    width: 100%;
    margin-top: 2vw;
    font-weight: 700;
    font-size: 1.3vw;
    color: #F7FDF3;
    cursor: pointer;
}

#caixaForm button:hover {
    border: solid 0.01px #8EDE65;
    color: #2c3e50;
    background-color: #F7FDF3;
}

#message {
    width: 100%;
    height: 10vw;
    max-height: 10vw;
    min-height: 10vw;
    min-width: 100%;
    max-width: 100%;
}

input {
    font-size: 1vw;
}
/**/

/** <-- Segunda Sessão (endereço) */
#segundaSessãoDeInfo {
    /* background-color: yellow; */
    height: 28vw;
    margin-top: 4vw;
}

#text .LinhaDeTitulo { /*Linha decorativa para titulos de texto*/
    background-color: #8EDE65;
    margin-bottom: 0.6vw;
    margin-left: 10%;
}

#segundaSessãoDeInfo span {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    color: #1D1D29;
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
}

.TitulosPath { /* Linha de título da sessão*/
    /* background-color: aqua;   */
    width: 80%;
    font-size: 2.5vw;
    font-weight:700;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5vw;
    color: #1D1D29;
 }

 #frameMap {
    width: 70%;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 3vw;
}

/**/

/*Footer para contatdo e copyright*/

#footerInfo {
    /*background-color: #8EDE65;*/
    color: #2c3e50;
    background-color: #F7FDF3;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 7vw;
}

#linhaFooter{ /*linha decorativa de separação entre footer e informações anteriores*/
    background-color: grey;
    width: 50%;
    margin-left: 25%;
    height: 0.06vw;
}

.LFooter { /*Linha principal do footer*/
    /*background-color: blueviolet;*/
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3vw; 
}

#footerLeft { /*Div de informações alinhada a esquerda no footer*/
    /*background-color: aqua;*/
    width: 50%;
    text-align: center;
}

#footerRight{ /*Div de informações alinhada a direita no footer*/
    /*background-color: burlywood;*/
    width: 50%;
    text-align: center;
}

#copyright { /*Linha final do footer (informações do copyright)*/
    padding-bottom: 3vw;;
    margin-top: 3vw;
    text-align: center;
}

/*<--FimFooter*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* RESPONSIVIDADE PROFISSIONAIS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 723px) {

    #pathCorpo { /*Modificação em um hexágono que atua como "body" e faz o fromato do meio do site completo*/
         height: 190vw;
    }

    body { /*Especificações para o corpo da página*/
        background-image: url(img/newff2.png);
    }

    .navBar{  /*barra original ocultada*/
        display: none;
        
    }

    header {
        height: auto;
    }

    
    #navBarMobile{ /*Ocultando a opção de menu navBar mobile na versão desktop*/
        display: block;
        height: 9vw;
        /* background-color: #F7FDF3;  */
        padding-top: 1vw;
        margin-bottom: 4vw;
        display: flex;
        justify-content:space-between;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 6vw;
        padding-bottom: 2.5vw;  
        
    }

    #logoMobile {
        /* background-color: red; */
        background-image: url(img/logoNavMob.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: left;
        width: 40%;
        height: 100%;
    }

    #hamMobileIcon{
        /* background-color: red; */
        width: 15%;
        height: 100%;
        color: #F7FDF3;
        text-align:right;
        font-size: 7vw;
    }


    #navBarMobileOp{
        background-color: #F7FDF3;
        width: 90%;
        height: 300vw;
        margin-left: 10%;
        display: flex;
        position: absolute;
        z-index: 999999999999999;
        display: none;
        transition: 1s 0s bottom, 1s 1s left cubic-bezier(0,1,1,1);
    }

    #navBarMobileOpInterno {
        height: 50vw;
        width: 70%;
        margin-left: 15%;
        margin-top: 25vw;
        /* background-color: #8EDE65; */
        text-align: center;
    }

    .OpcaoNavBarMob {
        color: #1D1D29;
        font-size: 6vw;
        width: 100%;
        /* background-color: burlywood; */
        margin-bottom: 4vw;
        text-align: center;
        text-decoration: none;
    }

   .IconesSociaisMob{
        font-size: 7vw;
    }

    #iconeX {
        font-size: 10vw;
        position: absolute;
        margin-left: 80%;
        margin-top: 4vw;
        color: #2c3e50;
    }

    * {
        text-decoration: none;
    }

    #news { /*Área principal do site com informação e botão lateral*/
         /* background-color: yellow;  */
        text-align: center;
        width: 80%;   
        padding-top: 4vw;
        height: 100%s;
        margin-bottom: 3vw;
    }

    .LinhaDeTitulo { /*Linha decorativa (ultilizada em cima ou na lateral de títulos)*/
        width: 18vw;
        height: 1.4vw;
        margin-left: 30vw;
    }
        
    #news p { /*Texto da área news*/
        font-size: 8vw;      
        width: 100%;
        /* background-color: brown; */
    }
    
    span { /*texto abaixo do título news (apresetando equipe)*/
        font-size: 3vw;
        font-weight: 700;
        color: #F7FDF3;
    }

    #textNews { /*Linha do texto abaixo do t. news*/
        /*background-color: green;*/
        width: 100%;
        margin-bottom: 4vw;
        text-align: justify;
        line-height: 4vw;
        word-spacing: 0.8vw;
        padding-top: 2vw;
    }

    .IconeRoll { /*Setas para baixo "roll"*/
        font-size: 7vw;
        /* display: none; */
    }
  
    
/** <-- Primeira sessão (icones e formulário) */

#primeiraSessãoDeInfo { /*primeira sessão para guardar icones e formulários*/
    margin-left: 10%;
    margin-right: 10%;
}

#areaDeIcones { /*div para conter icones e informacoes sobre contato*/
    /* background-color: aquamarine; */
    width: 100%;
    height: 15vw;
    margin-top: 12vw;
    display: flex;
    justify-content: space-between;
}

.IconeArea { /*div do icone*/
    /* background-color: blueviolet; */
    height: 100%;
    width: 32%;
    text-align: center;
}

.IconeArea div {
    font-size: 5vw;
    color: #2c3e50;
    height: 2.8vw;
    /* background-color: blueviolet; */
}

#zap {
    font-size: 5.5vw;
    color: #2c3e50;
}

.IconeArea p {
    font-size: 1.8vw;
    color: #2c3e50;
}

#formOrcamentos{ /*div geral para conter o formulário, sua localização e imagem de fundo*/
    background-image: url(img/newff2.png); 
   /* background-color: rgb(238, 238, 238); */
   height: 70vw;
   margin-top: 6vw;
}

#caixaForm {
   /* background-color: green; */
   width: 80%;
   height: 92%;
   margin-left: 10%;  
   padding-top: 3%;  
   font-size: 1vw;
}

#caixaForm h1 {
   font-size: 4.6vw;
}

.InputForm {
   width: 94%;
   padding: 3%;
   border: none;
}

#caixaForm h2 {
      font-size: 2.5vw;
}

#caixaForm button {
     font-size: 2.6vw;
   
}

input {
   font-size: 2vw;
}
/**/


/** <-- Segunda Sessão (endereço) */
#segundaSessãoDeInfo {
    /* background-color: yellow; */
    height: 55vw;
    margin-top: 4vw;
}

#segundaSessãoDeInfo span {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    color: #1D1D29;
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
}

.TitulosPath { /* Linha de título da sessão*/
    /* background-color: aqua;   */
    width: 80%;
    font-size: 4vw;
    font-weight:700;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5vw;
    color: #1D1D29;
 }

 #frameMap {
    width: 70%;
    height: 30vw;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 3vw;
}

/**/


/*Footer para contatdo e copyright*/

#footerInfo {
    /*background-color: #8EDE65;*/
    color: #2c3e50;
    background-color: #F7FDF3;
    font-weight: 600;
    font-size: 2vw;
    margin-top: 7vw;
}



/*<--FimFooter*/
   
}
