/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
    Cinza Esverdeado: #F7FDF3
    Verde: #8EDE65
    Azul: #1D1D29
    Azul escuro texto: #1D1D29

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;750;800;900&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* ANIMAÇÕES */

/*Sessão de definição de Fade In (Animação para surgir os textos da página)*/

@-webkit-keyframes fadeIn { /*Função de animação fade In*/
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn1 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
    }

    .fadeIn2 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
            -webkit-animation: fadeIn 5s ease-in-out;
            -moz-animation: fadeIn 5s ease-in-out;
            -o-animation: fadeIn 5s ease-in-out;
            animation: fadeIn 5s ease-in-out;
    }

    .fadeIn3 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 6s ease-in-out;
        -moz-animation: fadeIn 6s ease-in-out;
        -o-animation: fadeIn 6s ease-in-out;
        animation: fadeIn 6s ease-in-out;
    }

    .fadeIn4 { /*Nível de fade in (s) de acordo com a posição na página, quanto mais abaixo, mais lento o carregamento*/
        -webkit-animation: fadeIn 7s ease-in-out;
        -moz-animation: fadeIn 7s ease-in-out;
        -o-animation: fadeIn 7s ease-in-out;
        animation: fadeIn 7s ease-in-out;
    }

/* <-- Fim FadeIn*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO GERAL / SEM CLASSE / SEM IDENTIFICADOR */

* {
	padding: 0;
	margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body { /*Desabilitando o scroll no eixo X na TAG HTML, para facilitar a compatibilidade com os navegadores*/
    overflow-x: hidden;
}

h1 { /*Especificações para títulos H1 */
    font-size: 2.5vw;
    font-weight:700;
 }

 /*NOVA DEFINIÇÃO NECESSÁRIA PARA ABERTURA DE MENUS POP-UP / TRAVAMENTO DO OVERFLOW */

body, html {
    height: 100%;
}
.wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#hd1 {
    overflow-x: hidden;
    overflow-y: auto;
}

/*FIM TRAVAMENTO DO OVERFLOW*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* FORMATAÇÃO POR IDENTIFICADOR */

/*--> Body*/

body { /*Especificações para o corpo da página*/
    background-image: url(img/hd2.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-color: #F7FDF3;      
}
/*<--FimBody*/

 /*--> Header */

 #header { /*Especificações para o cabeçalho da página*/
    padding-top: 6vh;
}

 #navBar{ /*Barra onde ficam icones sociais e opções de navegação*/
    /* background-color: black; */
     display: flex;
     font-weight: 500;
     margin-left: 8vw;
     margin-right: 8vw;
     margin-top: 3vw;
 }
 
 #opcoesNavBar { /*Barra onde ficam as opções de navegação*/
     /* background-color: grey; */
     width: 55%;
     text-align: left;
     display: flex;
     justify-content: space-around;
 }
 
.OpcaoNavBar { /*Opçoes de navegação*/
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.3vw;
}

#corrente {
    font-weight: 700;
}
 
.OpcaoNavBar:hover{ /*Ações ao passar o mouse em uma opção de navegação*/
    font-weight:bold;
    color: #8EDE65;
}
 
#iconesNavBar { /*Barra onde ficam os ícones sociais*/
     /* background-color: green; */
     width: 45%;
     text-align: right;
    
 }
 
.IconeNavBar { /* Icones de navegação */
    /* background-color: yellow; */
    color: #F7FDF3;
    font-size: 1.7vw;
}
 
.IconeNavBar:hover { /*Ações ao passar o mouse em um ícone da barra de navegação*/
    color: #8EDE65;
    font-weight:900;
}

#news { /*Área principal do site com informação e botão lateral*/
    /*background-color: yellow;*/
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 3vw;
    text-align: left;
    padding-left: 3vw;
    width: 50%;
    margin-bottom: 2vw;
}

.LinhaDeTitulo { /*Linha decorativa (ultilizada em cima ou na lateral de títulos)*/
    width: 9vw;
    height: 0.7vw;
    margin-top: 0;
    margin-bottom: 3vw;
}

#news .LinhaDeTitulo { /*Linha decorativa na área de news*/
    background-color: #8EDE65;
}

#news p { /*Titulo da área news*/
    font-size: 3.5vw;
    color: #F7FDF3;
    font-weight:750;
    margin-bottom: 2vw;  
}

span { /*texto abaixo do título news (apresetando equipe)*/
    font-size: 1.2vw;
    font-weight: 700;
    color: #F7FDF3;
}

#textNews { /*Linha do texto abaixo do t. news*/
    /*background-color: green;*/
    width: 85%;
    margin-bottom: 3vw;
    text-align: justify;
    line-height: 2.4vw;
    word-spacing: 0.5vw;
}

.IconeRoll { /*Setas para baixo "roll"*/
    font-size: 3vw;
    margin-left: calc(50% - 2vw);
    color: #8EDE65;
    opacity: 1;
    animation: anima 1500ms ease infinite;
}

.IconeRoll:hover{ /*Ação ao passar o mouse nas setas*/
    cursor: pointer;
}

@keyframes anima { /*Animação para setas roll*/
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}
/*<-- FimHeader*/

/*--> Hexágono construído com clip-path para gerar o shape divider do layout */

#pathCorpo { /*Modificação em um hexágono que atua como "body" e faz o fromato do meio do site completo*/
    position: absolute;
    width: 100%;
    height: 100vw;
    max-height: 100vw;
    background-color: #F7FDF3;
	clip-path: polygon(24% 3%, 75% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/*<-- FimHexágono*/

/*<-- Primeira sessão de informações (gestores) */

#primeiraSessãoDeInfo{ /* Primeira sessão abaixo de news */
    /* background-color: yellow; */
     width: 80%;
     padding-left: 10%;
     padding-right: 10%;
     margin-top: 3%; 
     height: 20%;
     position: absolute;
     display: inline-flex;
 }
 
 #primeiraSessãoDeInfo2{ /* Primeira sessão abaixo de news */
    /* background-color: yellow; */
     width: 80%;
     padding-left: 10%;
     padding-right: 10%;
     margin-top: 40%; 
     height: 20%;
     position: absolute;
     display: inline-flex;
 }

 .TituloDeProfissionais { /*Títlo para categoria (Gestor, enfermeiro...)*/
     /*background-color: aqua;*/
     width: 80%;
     height: 3vw;
     margin-top: 5vw;
     font-size: 2vw;
     font-weight: 700;
     color: #1D1D29;
     position: absolute;
 }
 
 .LinhaDeProfissionais { /*Linha para alocar e dividir as posições do profissionais*/
    /* background-color: pink;*/
     width: 80%;
     height: 20vw;
     margin-top: 8vw;
     position: absolute;
     display: inline-flex;
     justify-content: space-between;
 }
 
 .ProfissionaisItem { /*Conteiner para cada item (foto) de profsisonais*/
     /*background-color: brown;*/
     height: 23.5vw;
     width: 30%;
     position: relative;
 }
 
 #prof1 {  /*Imagem para profissonal 1 */
     background-image: url(img/gestor1.png);
     background-size: 100%;
     background-position: 50%;
     background-repeat: no-repeat;
 }
 
 #prof2 { /*Imagem para profissonal 2 */
     background-image: url(img/gestor2.png);
     background-size: 100%;
     background-position: 50%;
     background-repeat: no-repeat;
 }

 #prof4 { /*Imagem para profissonal 2 */
    background-image: url(img/equipe1.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
 
 .LinhaDeInformaçõesP { /*Linha de informações abaixo da foto*/
     /*background-color: burlywood;*/
     width: 80%;
     height: 5vw;
     margin-top: 31vw;
     position: absolute;
     display: inline-flex;
     justify-content: space-between;
 }
 
 .ProfissionaisItemP { /*Tetxo com informações abaixo da foto*/
     /*background-color: crimson;*/
     height: 5vw;
     width: 30%;
     position: relative;
     text-align: center;
     font-weight:700;
     font-size: 1vw;
     
 }

.LineEspecialidadeCdProf { /*Foto com especialidade abaixo da foto principal e texto de info.*/
    /*background-color: aqua;*/
    display: inline-flex;
    justify-content: center;
    height: 3vw;
    width: 100%;
}

.ImgFormat { /*Formatação para a imagem que fica na linha (especialidade), feita com clip-path*/
    clip-path: circle(40% at 50% 50%);
    background-size: 100%;
    background-position: 50%;
    width: 10%;
    height: 100%; 
    background-repeat: no-repeat;
}

.ImgFormat:hover { /*Acçoes ao passar o mouse na imagem de especialidade*/
    border: 5px solid transparent;
    cursor: pointer;
}

/*Imagens de fundo para círculo de área de atuação*/
#imgA1 {background-image: url(img/s1.png);}
#imgA2 {background-image: url(img/s2.png);}
#imgA3 {background-image: url(img/s3.png);}
#imgA4 {background-image: url(img/s4.png);}
#imgA5 {background-image: url(img/s5.png);}
#imgA6 {background-image: url(img/s6.png);}
#imgA7 {background-image: url(img/s7.png);}
#imgA8 {background-image: url(img/s8.png);}

 
 /*<--FimPrimeiraSessão*/

 
/*<<Fim sessão 1*/

/** <-- Segunda Sessão (contador de página) */

#segundaSessãoDeInfo{ /* Primeira sessão abaixo de news */
    /*background-color: yellow; */
     width: 80%;
     padding-left: 10%;
     padding-right: 10%;
     margin-top: 82vw; 
     height: 5%;
     position: absolute;
 }

#linhaFinalPag { /*Linha entre o corpo e a infirmação de numeração de página*/
    background-color: grey;
    width: 50%;
    margin-left: 25%;
    height: 0.06vw;
    margin-bottom: 2vw;
}

 #controleDePag{ /*Linha com informação de controle de página (pg 1 de 1)*/
    /*background-color: aqua;*/
    width: 100%;
    text-align: center;
    font-size: 0.9vw;
    font-weight: 700;
 }

 /*<--Fim segunda sessão*/

 /*Footer para contatdo e copyright*/

#footerInfo {
    /*background-color: #8EDE65;*/
    color: #2c3e50;
    background-color: #F7FDF3;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 87vw;
}

#linhaFooter{ /*linha decorativa de separação entre footer e informações anteriores*/
    background-color: grey;
    width: 50%;
    margin-left: 25%;
    height: 0.06vw;
}

.LFooter { /*Linha principal do footer*/
    /*background-color: blueviolet;*/
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3vw; 
}

#footerLeft { /*Div de informações alinhada a esquerda no footer*/
    /*background-color: aqua;*/
    width: 50%;
    text-align: center;
}

#footerRight{ /*Div de informações alinhada a direita no footer*/
    /*background-color: burlywood;*/
    width: 50%;
    text-align: center;
}

#copyright { /*Linha final do footer (informações do copyright)*/
    padding-bottom: 3vw;
    margin-top: 3vw;
    text-align: center;
}

/*<--FimFooter*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* RESPONSIVIDADE PROFISSIONAIS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 640px) {

}
